body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-left: 20px;
    font-size: 1.5em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.hero {
    background: url('https://res.cloudinary.com/dtdhmbtcg/image/upload/v1720978757/dj_marshmello_toy_with_electronic_music_instrument_in_orange_background_4k_hd_marshmello-1920x1080_gubct0.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    height: 200px;
}

.hero h1 {
    font-size: 3em;
}

.products {
    padding: 20px;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #888;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}